## What are data structures, and why are they important?

Data structures are ways of organizing and storing data efficiently. They help in optimizing data manipulation, retrieval, and storage.

**Example:** Lists, tuples, dictionaries, and sets are common data structures in Python.
## Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation, while immutable types cannot.

**Example:**
```python
# Mutable (List)
my_list = [1, 2, 3]
my_list.append(4)  # Allowed

# Immutable (Tuple)
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Error!
```
## What are the main differences between lists and tuples in Python?

Lists are mutable, slower, and can be modified, while tuples are immutable and faster.

**Example:**
```python
my_list = [1, 2, 3]  # Mutable
my_tuple = (1, 2, 3)  # Immutable
```
## Describe how dictionaries store data.

Dictionaries store data as key-value pairs using a hash table.

**Example:**
```python
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])  # Output: Alice
```
## Why might you use a set instead of a list in Python?

Sets automatically remove duplicate values and allow fast membership checks.

**Example:**
```python
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}
```
## What is a string in Python, and how is it different from a list?

A string is a sequence of characters, immutable like a tuple, while a list can hold multiple data types and is mutable.

**Example:**
```python
my_string = 'hello'
my_list = ['h', 'e', 'l', 'l', 'o']
```
## How do tuples ensure data integrity in Python?

Tuples are immutable, preventing accidental modifications.

**Example:**
```python
config = ('192.168.1.1', 8080)
```
## What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that allows fast lookups. Python dictionaries use hash tables to store key-value pairs efficiently.
## Can lists contain different data types in Python?

Yes, lists in Python can store multiple data types.

**Example:**
```python
mixed_list = [1, 'hello', 3.5, True]
```
## Explain why strings are immutable in Python.

Strings are immutable to ensure security, caching, and performance optimization.

**Example:**
```python
s = 'hello'
s[0] = 'H'  # Error!
```
## What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow fast lookups, while lists require searching sequentially.

**Example:**
```python
my_dict = {'apple': 5, 'banana': 3}
print(my_dict['apple'])  # O(1) lookup
```
## Describe a scenario where using a tuple would be preferable over a list.

If data should not change, such as storing configuration settings.

**Example:**
```python
coordinates = (10, 20)
```
## How do sets handle duplicate values in Python?

Sets automatically remove duplicate values.

**Example:**
```python
nums = {1, 2, 2, 3}
print(nums)  # Output: {1, 2, 3}
```
## How does the `in` keyword work differently for lists and dictionaries?

`in` checks values in lists but checks keys in dictionaries.

**Example:**
```python
print(3 in [1, 2, 3])  # True
print('name' in {'name': 'Alice'})  # True
```
## Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable.

**Example:**
```python
t = (1, 2, 3)
t[0] = 10  # Error!
```
## What is a nested dictionary, and give an example of its use case?

A nested dictionary contains dictionaries inside it, useful for storing hierarchical data.

**Example:**
```python
users = {
    'Alice': {'age': 25, 'city': 'NY'},
    'Bob': {'age': 30, 'city': 'LA'}
}
```
## Describe the time complexity of accessing elements in a dictionary.

Dictionary lookups have an average time complexity of O(1), making them very efficient.
## In what situations are lists preferred over dictionaries?

Lists are preferred when order matters or when iterating over data sequentially.

**Example:**
```python
tasks = ['task1', 'task2', 'task3']
```
## Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries in Python versions before 3.7 were unordered, meaning key order was not guaranteed. In Python 3.7+, insertion order is preserved but should not be relied upon in all cases.
## Explain the difference between a list and a dictionary in terms of data retrieval.

Lists require searching through indexes (O(n) in worst case), while dictionaries offer direct key-based access (O(1) in average case).

**Example:**
```python
my_list = [10, 20, 30]
print(my_list[1])  # Index lookup

my_dict = {'a': 10, 'b': 20}
print(my_dict['b'])  # Key lookup
```

## Create a string with your name and print it

In [61]:
name = "Ritesh Singh"
print(name)

Ritesh Singh

## Find the length of the string 'Hello World'

In [62]:
text = "Hello World"
print(len(text))

11

## Slice the first 3 characters from the string 'Python Programming'

In [63]:
text = "Python Programming"
print(text[:3])

Pyt

## Convert the string 'hello' to uppercase

In [64]:
text = "hello"
print(text.upper())

HELLO

## Replace the word 'apple' with 'orange' in the string 'I like apple'

In [65]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

## Create a list with numbers 1 to 5 and print it

In [66]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

## Append the number 10 to the list [1, 2, 3, 4]

In [67]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

## Remove the number 3 from the list [1, 2, 3, 4, 5]

In [68]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

## Access the second element in the list ['a', 'b', 'c', 'd']

In [69]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

## Reverse the list [10, 20, 30, 40, 50]

In [70]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

## Create a tuple with the elements 100, 200, 300 and print it

In [71]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

## Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [72]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

## Find the minimum number in the tuple (10, 20, 5, 15)

In [73]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

## Find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')

In [74]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

## Create a tuple containing three different fruits and check if 'kiwi' is in it

In [75]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

## Create a set with the elements 'a', 'b', 'c' and print it

In [76]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

## Clear all elements from the set {1, 2, 3, 4, 5}

In [77]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

## Remove the element 4 from the set {1, 2, 3, 4}

In [78]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

## Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [79]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

## Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [80]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

## Create a dictionary with the keys 'name', 'age', and 'city', and print it

In [81]:
person = {"name": "Ritesh", "age": 30, "city": "New York"}
print(person)

{'name': 'Ritesh', 'age': 30, 'city': 'New York'}

## Add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}

In [82]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

## Access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}

In [83]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

## Remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [84]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

## Check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [85]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

## Create a list, a tuple, and a dictionary, and print them all

In [86]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

## Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [87]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[10, 11, 35, 58, 67]

## Create a list with strings and print the element at the third index

In [88]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

## Combine two dictionaries into one and print the result

In [89]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Convert a list of strings into a set

In [90]:
words = ['apple', 'banana', 'cherry', 'apple']
words_set = set(words)
print(words_set)

{'cherry', 'banana', 'apple'}